.body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
}

.body--noscroll {
  overflow: hidden;
}

.body__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: fade-out($black, 0.75);
  z-index: 20;
  display: none;
}

.body__overlay--opened {
  display: block;
}

.body__index-wrapper {
  width: max-content;
  margin: 20px auto;
  display: none;
}
