.modal-card {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 439px;
  background-color: $white;
  z-index: 25;
  padding: 0 35px 55px;
  box-shadow: 0px 4px 32px rgba(121, 121, 121, 0.24);
  display: none;
}

.modal-card--opened {
  display: block;
}

.modal-card h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 46px;
}

.modal-card__added-item {
  display: flex;
  margin-bottom: 39px;
}

.modal-card__added-item img {
  width: 84px;
  height: 79px;
  flex-shrink: 0;
  display: block;
  margin-right: 20px;
}

.modal-card__added-item p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-top: -4px;
  margin-bottom: 0;
}

.modal-card__added-item span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 10px;
}

.modal-card__counter {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.modal-card__counter-button {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: transparent;
  border: none;
}

.modal-card__counter-button--plus {
  top: -4px;
  right: -2px;

  &::after,
  &::before {
    content: "";
    width: 14px;
    height: 2px;
    background-color: $grey;
    position: absolute;
    top: 6px;
    left: 0px;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.modal-card__counter-button--minus {
  top: -9px;
  right: -2px;

  &::before {
    content: "";
    width: 14px;
    height: 2px;
    background-color: $grey;
    position: absolute;
    top: 6px;
    left: 0px;
  }
}

.modal-card__counter p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  position: relative;
  left: 6px;
  bottom: 2px;
}


.modal-card__additical-info {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  position: relative;

  &::after {
    content: "";
    width: 500px;
    height: 1px;
    background-color: #F6F5F4;
    position: absolute;
    left: -35px;
    top: 0;
  }
}

.modal-card__additical-info p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
}

.modal-card__additical-info p:last-child {
  font-weight: 500;
}

.modal-card__action {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.modal-card__action a {
  width: 200px;
  min-height: 68px;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $ginger;
  color: $black;

  &:focus,
  &:hover {
    background-color: fade-out($black, 0.9);
  }
}

.modal-card__action a:last-child {
  color: $white;
  background-color: $ginger;

  &:focus,
  &:hover {
    background-color: $coffee;
  }
}

.modal-card__close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    width: 18px;
    height: 2px;
    background-color: $black;
    position: absolute;
    top: 6px;
    left: -1px;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.modal-card__close:focus,
.modal-card__close:hover {
  &::after,
  &::before {
    background-color: fade-out($black, 0.5);
  }
}

@media (max-width: $desktop-width) {
  .modal-card {
    top: 258px;
    width: 502px;
    padding: 0 30px 55px;
  }

  .modal-card__added-item img {
    width: 88px;
  }

  .modal-card__counter {
    position: relative;
    top: 4px;
    right: 2px;
  }

  .modal-card__action a {
    width: 206px;
  }

  .modal-card__additical-info::after {
    width: 502px;
    left: -30px;
  }
}

@media (max-width: $tablet-width) {
  .modal-card {
    width: 290px;
    padding: 0 15px 25px;
    top: 117px;
  }

  .modal-card h4 {
    margin: 0 30px;
    margin-top: 38px;
    margin-bottom: 33px;
    font-size: 24px;
    line-height: 29px;
  }

  .modal-card__added-item {
    margin-bottom: 29px;
  }

  .modal-card__added-item img {
    width: 70px;
    height: 63px;
    margin-right: 15px;
  }

  .modal-card__added-item p {
    font-size: 16px;
    line-height: 21px;
  }

  .modal-card__added-item span {
    margin-top: 5px;
  }

  .modal-card__counter p {
    bottom: -4px;
  }

  .modal-card__counter-button--minus {
    top: 1px;
  }

  .modal-card__additical-info {
    flex-direction: column;
    padding-top: 22px;

    &::after {
      width: 290px;
      left: -15px;
    }
  }

  .modal-card__additical-info p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .modal-card__action {
    flex-wrap: wrap;
    margin-top: 19px;
  }

  .modal-card__action a {
    width: 100%;
    margin-bottom: 20px;
  }

  .modal-card__close {
    top: 15px;
    right: 15px;
  }
}
