/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins-v15-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-regular - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-regular.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-italic - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-italic.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-500italic - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-500italic.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-600 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-600.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-700 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-700.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.body--no-scroll {
  overflow: hidden; }

.header {
  padding-top: 30px;
  position: relative; }

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  top: 30px; }

.header__logo svg {
  fill: #a87b62; }

.header__menu-toggler {
  display: none;
  cursor: pointer; }

.header__menu-toggler svg {
  display: block; }

@media (max-width: 1023px) {
  .header {
    padding-top: 44px;
    margin-bottom: 72px; }
  .header__logo {
    z-index: 10; }
  .header--opened .header__logo svg {
    fill: #ffffff; }
  .header--opened {
    position: absolute;
    width: 100%; }
  .header__menu-toggler {
    display: block;
    position: absolute;
    left: 45px;
    top: 53px;
    z-index: 10;
    stroke: #1d1613; }
    .header__menu-toggler:hover > svg {
      stroke: #9b9997; }
    .header__menu-toggler:focus > svg {
      stroke: #9b9997; }
    .header__menu-toggler:focus {
      outline: none; }
    .header__menu-toggler:active > svg {
      stroke: #1d1613; }
  .header--opened .header__menu-toggler {
    stroke: #ffffff; }
  .header--no-js {
    position: relative;
    margin-bottom: -44px; } }

@media (max-width: 767px) {
  .header {
    padding-top: 35px;
    margin-bottom: 55px; }
  .header__logo {
    top: 20px; }
  .header__logo svg {
    width: 52px;
    height: 52px; }
  .header__menu-toggler {
    display: block;
    position: absolute;
    left: 15px;
    top: 36px;
    z-index: 10; }
  .header--no-js {
    margin-bottom: -35px; } }

.footer {
  margin-top: auto; }

.top-header {
  padding: 0 45px;
  padding-top: 8px;
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap; }

.top-header__search {
  margin-right: auto;
  position: relative;
  max-width: 350px; }

.top-header__search input {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1d1613;
  padding: 0;
  padding-left: 29px;
  cursor: pointer; }
  .top-header__search input::-moz-placeholder {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997; }
  .top-header__search input::placeholder {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997; }
  .top-header__search input:hover, .top-header__search input:focus {
    outline: 1px solid #9b9997; }

.top-header__search label {
  cursor: pointer; }

.top-header__search svg {
  position: absolute;
  left: 0;
  top: 7px; }

.top-header__actions {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
  margin-top: 2px; }

.top-header__actions a {
  color: #1d1613;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin-left: 36px; }
  .top-header__actions a:hover, .top-header__actions a:focus {
    color: #9b9997; }
  .top-header__actions a:active {
    color: #393939; }

.top-header__search input:hover + label svg {
  fill: #9b9997; }

.top-header__search input:focus + label svg {
  fill: #1d1613; }

.top-header__actions svg {
  display: none; }

.top-header__actions span {
  margin-left: 1px; }

.top-header__cart {
  stroke: #1d1613; }

@media (max-width: 1023px) {
  .top-header__actions {
    order: -1;
    width: 100%;
    justify-content: flex-end;
    max-width: none; }
  .top-header__actions a {
    margin-left: 0; }
  .top-header__actions span {
    display: none; }
  .top-header__login a {
    display: none; }
  .top-header__actions svg {
    display: block; }
  .top-header__search {
    display: none; }
  .top-header__cart svg {
    stroke: #1d1613; }
  .top-header__cart {
    position: absolute;
    top: 10px;
    right: 44px;
    fill: none; }
  .top-header__cart a:hover svg,
  .top-header__cart a:focus svg {
    stroke: #9b9997;
    border: none; }
  .top-header__cart a:active svg {
    stroke: #1d1613; }
  .top-header__cart a:focus {
    outline: none; }
  .header--opened .top-header__cart {
    top: 54px; }
  .header--opened .top-header__cart svg {
    stroke: #ffffff; }
  .header--opened .top-header {
    position: absolute;
    width: 100%;
    min-height: 778px;
    background-color: #a87b62;
    top: 0;
    padding-top: 0;
    flex-direction: column; }
  .header--opened .top-header__actions {
    order: 2;
    justify-content: flex-start; }
  .header--opened .top-header__search {
    display: block;
    margin-top: 136px;
    max-width: none;
    width: 100%; }
  .header--opened .top-header__search input {
    padding: 0;
    padding-left: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 21px;
    height: 40px; }
    .header--opened .top-header__search input::-moz-placeholder {
      color: transparent; }
    .header--opened .top-header__search input::placeholder {
      color: transparent; }
    .header--opened .top-header__search input:hover, .header--opened .top-header__search input:focus {
      outline: 2px solid #1d1613; }
  .header--opened .top-header__search input:hover + label svg {
    fill: #1d1613; }
  .header--opened .top-header__search svg {
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    fill: #ffffff; }
  .header--opened .top-header__login {
    margin-top: 23px;
    margin-bottom: 70px; }
  .header--opened .top-header__login a {
    display: inline; }
    .header--opened .top-header__login a:focus, .header--opened .top-header__login a:hover {
      color: rgba(29, 22, 19, 0.7); }
    .header--opened .top-header__login a:active {
      color: #1d1613; }
  .header--opened .top-header__login a {
    display: inline;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff; }
  .header--no-js .top-header {
    position: relative;
    top: -44px; } }

@media (max-width: 767px) {
  .top-header {
    padding: 0 15px; }
  .top-header__cart {
    right: 14px;
    top: 2px; }
  .header--opened .top-header {
    min-height: 684px; }
  .header--opened .top-header__search {
    margin-top: 102px; }
  .header--opened .top-header__login {
    margin-top: 12px;
    margin-bottom: 25px; }
  .header--opened .top-header__cart {
    top: 37px; }
  .header--no-js .top-header {
    top: -35px; } }

.main-nav {
  width: 100%;
  margin-top: 68px; }

.main-nav__primary-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  padding-left: 45px;
  margin-bottom: 18px; }

.main-nav__primary-item {
  margin-right: 35px; }

.main-nav__primary-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d1613; }
  .main-nav__primary-item a:hover, .main-nav__primary-item a:focus {
    color: #9b9997; }
  .main-nav__primary-item a:active {
    color: #393939; }

.main-nav__secondary-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: none; }

@media (max-width: 1023px) {
  .main-nav {
    display: none; }
  .header--opened .main-nav {
    display: block;
    margin-top: 46px; }
  .header--opened .main-nav__primary-list {
    display: block;
    padding: 0;
    max-width: none;
    margin-bottom: 39px; }
  .header--opened .main-nav__secondary-list {
    display: block;
    color: rgba(255, 255, 255, 0.75); }
  .header--opened .main-nav__primary-item {
    margin-bottom: 21px; }
  .header--opened .main-nav__primary-item a {
    color: #ffffff;
    font-size: 24px;
    line-height: 36px; }
    .header--opened .main-nav__primary-item a:focus, .header--opened .main-nav__primary-item a:hover {
      color: rgba(29, 22, 19, 0.7); }
    .header--opened .main-nav__primary-item a:active {
      color: #1d1613; }
  .header--opened .main-nav__secondary-item {
    margin-bottom: 17px; }
  .header--opened .main-nav__secondary-item a {
    color: rgba(255, 255, 255, 0.75); }
    .header--opened .main-nav__secondary-item a:focus, .header--opened .main-nav__secondary-item a:hover {
      color: rgba(29, 22, 19, 0.7); }
    .header--opened .main-nav__secondary-item a:active {
      color: #1d1613; } }

@media (max-width: 767px) {
  .header--opened .main-nav {
    margin-top: 36px; }
  .header--opened .main-nav__primary-list {
    margin-bottom: 29px; } }

.main-intro {
  background-image: url("../../img/intro-main-desktop.png");
  min-height: 500px; }

.main-intro p {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
