/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins-v15-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-regular - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-regular.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-italic - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-italic.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-500italic - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-500italic.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-600 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-600.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-garamond-700 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-700.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  color: #1d1613; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth; }

.body--noscroll {
  overflow: hidden; }

.body__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 22, 19, 0.25);
  z-index: 20;
  display: none; }

.body__overlay--opened {
  display: block; }

.header {
  padding-top: 29px;
  position: relative; }

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  top: 30px; }

.header__logo svg {
  fill: #a87b62; }

.header__menu-toggler {
  display: none;
  cursor: pointer; }

.header__menu-toggler svg {
  display: block; }

@media (max-width: 1023px) {
  .header {
    padding-top: 44px;
    margin-bottom: 72px; }
  .header__logo {
    z-index: 10; }
  .header--opened .header__logo svg {
    fill: #ffffff; }
  .header--opened {
    position: absolute;
    width: 100%; }
  .header__menu-toggler {
    display: block;
    position: absolute;
    left: 45px;
    top: 54px;
    z-index: 10;
    stroke: #1d1613; }
    .header__menu-toggler:hover > svg {
      stroke: #9b9997; }
    .header__menu-toggler:focus > svg {
      stroke: #9b9997; }
    .header__menu-toggler:focus {
      outline: none; }
    .header__menu-toggler:active > svg {
      stroke: #1d1613; }
  .header--opened .header__menu-toggler {
    stroke: #ffffff; }
  .header--no-js {
    position: relative;
    margin-bottom: -44px; } }

@media (max-width: 767px) {
  .header {
    padding-top: 35px;
    margin-bottom: 55px; }
  .header__logo {
    top: 20px; }
  .header__logo svg {
    width: 52px;
    height: 52px; }
  .header__menu-toggler {
    display: block;
    position: absolute;
    left: 15px;
    top: 37px;
    z-index: 10; }
  .header--no-js {
    margin-bottom: -35px; } }

.footer {
  margin-top: auto;
  background-color: black; }

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
  margin-bottom: 52px; }

@media (max-width: 1023px) {
  .footer__wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 150px 0 45px;
    margin-bottom: 37px; } }

@media (max-width: 767px) {
  .footer__wrapper {
    padding: 0 15px; } }

.top-header {
  padding: 0 45px;
  padding-top: 8px;
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap; }

.top-header__search {
  margin-right: auto;
  position: relative;
  max-width: 350px; }

.top-header__search input {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1d1613;
  padding: 0;
  padding-left: 29px;
  cursor: pointer; }
  .top-header__search input::-moz-placeholder {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997; }
  .top-header__search input::placeholder {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997; }
  .top-header__search input:hover, .top-header__search input:focus {
    outline: 1px solid #9b9997; }

.top-header__search label {
  cursor: pointer; }

.top-header__search svg {
  position: absolute;
  left: 0;
  top: 7px; }

.top-header__actions {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
  margin-top: 2px; }

.top-header__actions a {
  color: #1d1613;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin-left: 36px; }
  .top-header__actions a:hover, .top-header__actions a:focus {
    color: #9b9997; }
  .top-header__actions a:active {
    color: #393939; }

.top-header__search input:hover + label svg {
  fill: #9b9997; }

.top-header__search input:focus + label svg {
  fill: #1d1613; }

.top-header__actions svg {
  display: none; }

.top-header__actions span {
  margin-left: 1px; }

.top-header__cart {
  stroke: #1d1613; }

@media (max-width: 1023px) {
  .top-header__actions {
    order: -1;
    width: 100%;
    justify-content: flex-end;
    max-width: none; }
  .top-header__actions a {
    margin-left: 0; }
  .top-header__actions span {
    display: none; }
  .top-header__login a {
    display: none; }
  .top-header__actions svg {
    display: block; }
  .top-header__search {
    display: none; }
  .top-header__cart svg {
    stroke: #1d1613; }
  .top-header__cart {
    position: absolute;
    top: 10px;
    right: 44px;
    fill: none; }
  .top-header__cart a:hover svg,
  .top-header__cart a:focus svg {
    stroke: #9b9997;
    border: none; }
  .top-header__cart a:active svg {
    stroke: #1d1613; }
  .top-header__cart a:focus {
    outline: none; }
  .header--opened .top-header__cart {
    top: 54px; }
  .header--opened .top-header__cart svg {
    stroke: #ffffff; }
  .header--opened .top-header {
    position: absolute;
    width: 100%;
    min-height: 778px;
    background-color: #a87b62;
    top: 0;
    padding-top: 0;
    flex-direction: column;
    z-index: 9;
    overflow: scroll; }
  .header--opened .top-header__actions {
    order: 2;
    justify-content: flex-start; }
  .header--opened .top-header__search {
    display: block;
    margin-top: 136px;
    max-width: none;
    width: 100%; }
  .header--opened .top-header__search input {
    padding: 0;
    padding-left: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 21px;
    height: 40px; }
    .header--opened .top-header__search input::-moz-placeholder {
      color: transparent; }
    .header--opened .top-header__search input::placeholder {
      color: transparent; }
    .header--opened .top-header__search input:hover, .header--opened .top-header__search input:focus {
      outline: 2px solid #1d1613; }
  .header--opened .top-header__search input:hover + label svg {
    fill: #1d1613; }
  .header--opened .top-header__search svg {
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    fill: #ffffff; }
  .header--opened .top-header__login {
    margin-top: 23px;
    margin-bottom: 70px; }
  .header--opened .top-header__login a {
    display: inline; }
    .header--opened .top-header__login a:focus, .header--opened .top-header__login a:hover {
      color: rgba(29, 22, 19, 0.7); }
    .header--opened .top-header__login a:active {
      color: #1d1613; }
  .header--opened .top-header__login a {
    display: inline;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff; }
  .header--no-js .top-header {
    position: relative;
    top: -44px; } }

@media (max-width: 767px) {
  .top-header {
    padding: 0 15px; }
  .top-header__cart {
    right: 14px;
    top: 2px; }
  .header--opened .top-header {
    min-height: 684px; }
  .header--opened .top-header__search {
    margin-top: 102px; }
  .header--opened .top-header__login {
    margin-top: 12px;
    margin-bottom: 25px; }
  .header--opened .top-header__cart {
    top: 37px; }
  .header--no-js .top-header {
    top: -35px; } }

.main-nav {
  width: 100%;
  margin-top: 68px; }

.main-nav__primary-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  padding-left: 45px;
  margin-bottom: 17px; }

.main-nav__primary-item {
  margin-right: 35px; }

.main-nav__primary-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d1613; }
  .main-nav__primary-item a:hover, .main-nav__primary-item a:focus {
    color: #9b9997; }
  .main-nav__primary-item a:active {
    color: #393939; }

.main-nav__secondary-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: none; }

@media (max-width: 1023px) {
  .main-nav {
    display: none; }
  .header--opened .main-nav {
    display: block;
    margin-top: 46px; }
  .header--opened .main-nav__primary-list {
    display: block;
    padding: 0;
    max-width: none;
    margin-bottom: 39px; }
  .header--opened .main-nav__secondary-list {
    display: block;
    color: rgba(255, 255, 255, 0.75); }
  .header--opened .main-nav__primary-item {
    margin-bottom: 21px; }
  .header--opened .main-nav__primary-item a {
    color: #ffffff;
    font-size: 24px;
    line-height: 36px; }
    .header--opened .main-nav__primary-item a:focus, .header--opened .main-nav__primary-item a:hover {
      color: rgba(29, 22, 19, 0.7); }
    .header--opened .main-nav__primary-item a:active {
      color: #1d1613; }
  .header--opened .main-nav__secondary-item {
    margin-bottom: 17px; }
  .header--opened .main-nav__secondary-item a {
    color: rgba(255, 255, 255, 0.75); }
    .header--opened .main-nav__secondary-item a:focus, .header--opened .main-nav__secondary-item a:hover {
      color: rgba(29, 22, 19, 0.7); }
    .header--opened .main-nav__secondary-item a:active {
      color: #1d1613; } }

@media (max-width: 767px) {
  .header--opened .main-nav {
    margin-top: 36px; }
  .header--opened .main-nav__primary-list {
    margin-bottom: 29px; } }

.main-intro {
  background-image: url("../../img/intro-main-desktop.png");
  min-height: 463px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120px; }

.main-intro p {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-family: 'Cormorant Garamond', serif; }

.main-intro p:first-child {
  font-weight: 700;
  font-size: 45px;
  line-height: 59px;
  letter-spacing: 0.03em;
  margin-top: -5px;
  max-width: 500px; }

.main-intro p:last-child {
  font-style: italic;
  font-size: 38px;
  line-height: 39px;
  max-width: 500px; }

@media (max-width: 1023px) {
  .main-intro {
    margin-bottom: 70px; } }

@media (max-width: 767px) {
  .main-intro {
    margin-bottom: 60px; } }

.footer-social {
  margin: 0;
  margin-top: 93px;
  padding: 0;
  margin-left: 50px;
  list-style: none; }

.footer-social__item {
  position: relative;
  margin-bottom: 16px;
  min-width: 115px; }

.footer-social__item a {
  color: #ffffff;
  padding-left: 30px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500; }

.footer-social__item svg {
  position: absolute;
  left: 0;
  top: 5px;
  fill: #ffffff; }

.footer-social__item a:hover,
.footer-social__item a:focus {
  color: #9b9997; }

.footer-social__item a:hover > svg,
.footer-social__item a:focus > svg {
  fill: #9b9997; }

.footer-social__item a:active > svg {
  fill: rgba(255, 255, 255, 0.9); }

.footer-social__item a:active {
  color: rgba(255, 255, 255, 0.9); }

@media (max-width: 1023px) {
  .footer-social {
    margin-top: 43px;
    margin-left: 20px; } }

@media (max-width: 767px) {
  .footer-social {
    display: flex;
    margin-left: 0;
    margin-top: 27px;
    width: 100%; }
  .footer-social__item {
    min-width: 0;
    margin-right: 30px; }
  .footer-social__item a {
    padding-left: 0; }
  .footer-social__item svg {
    width: 20px;
    height: 21px;
    position: static; }
  .footer-social__item--fb svg {
    width: 12px; }
  .footer-social__item span {
    display: none; } }

.footer-information {
  margin: 0;
  margin-top: 93px;
  padding: 0;
  list-style: none;
  margin-left: 10px; }

.footer-information__item {
  position: relative;
  margin-bottom: 16px; }

.footer-information__item a {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500; }

.footer-information__item svg {
  position: absolute;
  left: 0;
  top: 5px;
  fill: #ffffff; }

.footer-information__item a:hover,
.footer-information__item a:focus {
  color: #9b9997; }

.footer-information__item a:active {
  color: rgba(255, 255, 255, 0.9); }

@media (max-width: 1023px) {
  .footer-information {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 65px; } }

@media (max-width: 767px) {
  .footer-information {
    margin-top: 20px; } }

.footer-conditions {
  margin: 0;
  margin-top: 93px;
  padding: 0;
  list-style: none;
  margin-right: 10px; }

.footer-conditions__item {
  position: relative;
  margin-bottom: 16px; }

.footer-conditions__item a {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500; }

.footer-conditions__item svg {
  position: absolute;
  left: 0;
  top: 5px;
  fill: #ffffff; }

.footer-conditions__item a:hover,
.footer-conditions__item a:focus {
  color: #9b9997; }

.footer-conditions__item a:active {
  color: rgba(255, 255, 255, 0.9); }

@media (max-width: 1023px) {
  .footer-conditions {
    margin-top: 43px;
    margin-right: 86px; } }

.mailing {
  flex-grow: 2;
  max-width: 500px;
  margin-right: 35px; }

.mailing h3 {
  color: #ffffff;
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-top: 90px;
  margin-bottom: 10px; }

.mailing p {
  color: #9b9997;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 42px;
  margin-top: 10px; }

.mailing__form {
  max-width: 500px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  width: 100%; }

.mailing__form input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  flex-grow: 2;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding-left: 0;
  font-family: "Poppins", "Arial", sans-serif; }
  .mailing__form input::-moz-placeholder {
    color: #9b9997;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    font-family: "Poppins", "Arial", sans-serif; }
  .mailing__form input::placeholder {
    color: #9b9997;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    font-family: "Poppins", "Arial", sans-serif; }
  .mailing__form input:hover, .mailing__form input:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none; }

.mailing__form button {
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif; }
  .mailing__form button:hover, .mailing__form button:focus {
    color: #9b9997; }
  .mailing__form button:active {
    color: rgba(255, 255, 255, 0.9); }

.mailing__form button:focus > svg,
.mailing__form button:hover > svg {
  stroke: #9b9997; }

.mailing__form button:active > svg {
  stroke: rgba(255, 255, 255, 0.9); }

.mailing__form svg {
  margin-left: 8px;
  stroke: #ffffff; }

@media (max-width: 1023px) {
  .mailing {
    width: 100%;
    margin-right: 0;
    max-width: none; }
  .mailing__form {
    max-width: 559px; }
  .mailing h3 {
    margin-top: 50px; } }

@media (max-width: 767px) {
  .mailing h3 {
    margin-right: 45px;
    margin-bottom: 13px; }
  .mailing p {
    margin-right: 45px; } }

.new {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1260px;
  padding: 0 45px;
  position: relative; }

.new h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 24px;
  color: #1d1613; }

.new a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  border-bottom: 1px solid #a87b62;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  color: #1d1613;
  cursor: pointer; }
  .new a:focus, .new a:hover {
    color: rgba(29, 22, 19, 0.7);
    border-bottom: 1px solid #7a5c4b;
    outline-offset: 3px; }

.new__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 59px;
  overflow: hidden; }

.new__item {
  width: calc(25% - 22.5px);
  flex-shrink: 0;
  position: relative;
  left: 0;
  transition: all 0.3s ease-out; }

.new__item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 284px;
  width: 100%;
  display: block; }

.new__item + .new__item {
  margin-left: 30px; }

.new__description {
  text-align: center; }

.new__description p {
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #1d1613; }

.new__description span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1613; }

.new__slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  top: 43px;
  cursor: pointer; }

.new__slider-button svg {
  stroke: #a87b62;
  width: 29px;
  height: 13px; }

.new__slider-button:hover svg,
.new__slider-button:focus svg {
  stroke: #7a5c4b; }

.new__slider-button--previous {
  transform: rotate(180deg);
  position: absolute;
  left: 44px; }

.new__slider-button--next {
  position: absolute;
  right: 44px; }

.new__slider-pages {
  padding: 0;
  margin: 0 auto;
  margin-top: 46px;
  list-style: none;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

.new__slider-pages--mobile {
  display: none; }

.new__slider-item:nth-child(n+4) {
  display: none; }

.new__slider-item button {
  background-color: transparent;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: #9b9997;
  cursor: pointer; }
  .new__slider-item button:focus, .new__slider-item button:hover {
    color: rgba(29, 22, 19, 0.8); }

.new__slider-item--active button {
  color: #1d1613; }

@media (max-width: 1023px) {
  .new {
    max-width: 768px;
    margin: 0 auto; }
  .new h2 {
    margin-bottom: 19px; }
  .new a {
    padding-bottom: 4px; }
  .new__list {
    margin: 0 auto;
    margin-top: 50px; }
  .new__item {
    width: calc(50% - 15px); }
  .new__item img {
    height: 340px; }
  .new__description p {
    padding-bottom: 0;
    margin-bottom: 1px; }
  .new__slider-pages {
    margin-top: 19px; }
  .new__slider-item:nth-child(n+4) {
    display: block; }
  .new__slider-button svg {
    width: 37px;
    height: 17px; }
  .new__slider-button {
    top: 41px; } }

@media (max-width: 767px) {
  .new {
    padding: 0 15px; }
  .new__list {
    margin-top: 40px;
    max-width: 350px; }
  .new__slider-button {
    display: none; }
  .new__item img {
    height: 136px; }
  .new__description p {
    width: auto;
    margin-top: 16px; }
  .new__slider-pages {
    display: none; }
  .new__slider-pages--mobile {
    display: block;
    margin-top: -7px; }
  .new__slider-pages--mobile p {
    white-space: pre;
    border: none; } }

.blog {
  margin: 0 auto;
  margin-top: 113px;
  max-width: 1260px;
  padding: 0 45px; }

.blog h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 19px;
  letter-spacing: 0.03em;
  font-weight: 700; }

.blog a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #a87b62;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #1d1613; }
  .blog a:focus, .blog a:hover {
    color: rgba(29, 22, 19, 0.7);
    border-bottom: 1px solid #7a5c4b;
    outline-offset: 3px; }

.blog__list {
  margin-top: 60px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px; }

.blog__item {
  display: flex;
  position: relative; }

.blog__item img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.blog__text {
  width: 50%;
  background-color: #f0eae4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden; }

.blog__item:nth-child(2n) .blog__text {
  order: -1; }

.blog__text p {
  color: #9b9997;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 13px;
  margin-top: 67px; }

.blog__text h4 {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  max-width: 165px;
  text-align: center;
  margin: 0; }

.blog__text a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1d1613;
  margin-top: 37px;
  margin-bottom: 10px;
  cursor: pointer;
  width: auto;
  max-width: 160px; }
  .blog__text a:focus, .blog__text a:hover {
    color: rgba(29, 22, 19, 0.7);
    border-bottom: 1px solid #7a5c4b;
    outline-offset: 3px; }

.blog__item--important {
  grid-column: 2/3;
  grid-row: 1/3;
  order: -1; }

.blog__item--important .blog__text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: calc(50% - 15px); }

@media (max-width: 1023px) {
  .blog {
    margin-top: 64px; }
  .blog__list {
    grid-template-columns: 1fr;
    max-width: 679px;
    margin: 0 auto;
    margin-top: 59px;
    row-gap: 50px; }
  .blog__item--important .blog__text {
    position: static;
    height: auto; }
  .blog__item--important {
    grid-row: auto;
    grid-column: auto; }
  .blog__item {
    order: 3; }
  .blog__item:nth-child(2n) .blog__text {
    order: -1; }
  .blog__item img {
    width: 339px;
    height: 300px; }
  .blog__text {
    justify-content: center; }
  .blog__text p {
    margin-top: 6px; } }

@media (max-width: 767px) {
  .blog {
    margin-top: 51px;
    padding: 0 15px; }
  .blog__list {
    grid-template-rows: auto;
    margin-top: 50px;
    row-gap: 40px;
    max-width: 450px; }
  .blog__item {
    flex-direction: column;
    min-height: 512px; }
  .blog__text {
    width: 100%;
    height: calc(100% - 256px);
    overflow: auto; }
  .blog__item--important .blog__text {
    width: 100%;
    height: calc(100% - 256px); }
  .blog__item img {
    height: 256px;
    width: 100%; }
  .blog__item:nth-child(2n) .blog__text {
    order: 0; } }

.questions {
  margin: 0 auto;
  margin-top: 120px;
  padding: 0 45px; }

.questions__list {
  margin: 0 auto;
  margin-top: 47px;
  padding: 0;
  list-style: none;
  max-width: 970px; }

.questions__item {
  border: 1px solid #a87b62;
  border-bottom: none;
  padding-left: 42px;
  position: relative;
  min-height: 110px;
  cursor: pointer; }
  .questions__item:focus, .questions__item:hover {
    background-color: rgba(29, 22, 19, 0.1); }

.questions__item:focus svg,
.questions__item:hover svg {
  stroke: #7a5c4b; }

.questions__item br {
  display: none; }

.questions__item:last-child {
  border-bottom: 1px solid #a87b62; }

.questions h2 {
  text-align: center;
  color: #1d1613;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em; }

.questions__item p {
  color: #1d1613;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  margin-top: 44px;
  margin-bottom: 8px; }

.questions__item span {
  display: none;
  font-size: 16px;
  line-height: 21px;
  max-width: 520px;
  padding-bottom: 44px; }

.questions__item--opened span {
  display: block; }

.questions__item--opened svg {
  transform: rotate(180deg); }

.questions__item svg {
  stroke: #a87b62;
  fill: none;
  position: absolute;
  right: 48px;
  top: 51px; }

@media (max-width: 1023px) {
  .questions {
    margin-top: 70px; }
  .questions__item {
    padding-left: 50px; }
  .questions__item p {
    margin-bottom: 26px; }
  .questions__item span {
    max-width: 530px; }
  .questions__item svg {
    right: 48px;
    top: 38px;
    height: 36px;
    width: 25px; } }

@media (max-width: 767px) {
  .questions {
    margin-top: 60px;
    padding: 0 15px; }
  .questions__list {
    margin-top: 28px; }
  .questions__item {
    padding-left: 25px;
    min-height: 83px; }
  .questions__item p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 14px; }
  .questions__item span {
    font-size: 14px;
    line-height: 20px;
    padding-right: 55px;
    padding-bottom: 19px; }
  .questions__item br {
    display: block; }
  .questions__item svg {
    right: 22px;
    top: 13px;
    height: 30px;
    width: 24px; } }

.our-pictures {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 45px;
  margin-top: 100px;
  margin-bottom: 130px; }

.our-pictures h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 29px;
  letter-spacing: 0.03em;
  font-weight: 700; }

.our-pictures span {
  font-size: 42px;
  line-height: 55px;
  font-weight: 700;
  letter-spacing: 0.03em; }

.our-pictures a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #a87b62;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #1d1613; }
  .our-pictures a:focus, .our-pictures a:hover {
    color: rgba(29, 22, 19, 0.7);
    border-bottom: 1px solid #7a5c4b;
    outline-offset: 3px; }

.our-pictures__list {
  margin: 0 auto;
  margin-top: 60px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 19.66% 34.11% 19.66% 19.66%;
  -moz-column-gap: 27px;
       column-gap: 27px;
  grid-template-rows: 230px 150px;
  row-gap: 34px; }

.our-pictures__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%; }

.our-pictures__item--important {
  grid-column: 2/3;
  grid-row: 1/3; }

@media (max-width: 1023px) {
  .our-pictures {
    margin-top: 70px;
    margin-bottom: 80px; }
  .our-pictures h2 {
    margin-bottom: 16px; }
  .our-pictures__list {
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 20px;
    grid-template-rows: 133px 87px;
    max-width: 678px; } }

@media (max-width: 767px) {
  .our-pictures {
    margin-top: 50px;
    margin-bottom: 71px;
    padding: 0 15px; }
  .our-pictures__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 133px 87px 87px;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 27px;
    margin-top: 46px;
    max-width: 300px; }
  .our-pictures__item--unimportant {
    display: none; } }

.cataloge-intro {
  background-image: url("../../img/intro-main-desktop.png");
  min-height: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px; }

.cataloge-intro p {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-family: 'Cormorant Garamond', serif; }

.cataloge-intro p:first-child {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  margin-top: -5px;
  max-width: 500px; }

.cataloge-intro p:last-child {
  font-style: italic;
  font-size: 22px;
  line-height: 29px;
  max-width: 500px;
  font-weight: 500; }

@media (max-width: 1023px) {
  .cataloge-intro {
    margin-bottom: 50px; } }

@media (max-width: 767px) {
  .cataloge-intro {
    margin-bottom: 40px; }
  .cataloge-intro p:last-child {
    padding: 0 25px; } }

.cataloge {
  overflow-x: hidden; }

.cataloge__wrapper {
  padding: 0 45px;
  margin: 0 auto;
  max-width: 1260px;
  display: flex; }

.cataloge__list {
  margin: 0;
  margin-left: 50px;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 33px; }

.cataloge__item img {
  display: block;
  height: 272px; }

.cataloge__item-description {
  text-align: center; }

.cataloge__item-description p {
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #1d1613; }

.cataloge__item-description span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1613; }

.cataloge__navitagion {
  display: flex;
  margin-left: 50px;
  margin-bottom: 36px;
  position: relative;
  padding-top: 35px; }
  .cataloge__navitagion::before {
    content: "";
    height: 1px;
    width: 150vw;
    transform: translateX(-50%);
    position: absolute;
    background-color: #F6F5F4;
    top: 0; }

.cataloge__page-numbers {
  padding: 0;
  padding-right: 36px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

.cataloge__navitagion button {
  background-color: transparent;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: #1d1613;
  cursor: pointer;
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  .cataloge__navitagion button:hover, .cataloge__navitagion button:focus {
    color: rgba(29, 22, 19, 0.6); }

.cataloge__page-number button {
  background-color: transparent;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: #9b9997;
  cursor: pointer;
  padding: 0 6px 0 7px; }
  .cataloge__page-number button:focus, .cataloge__page-number button:hover {
    color: rgba(29, 22, 19, 0.8); }

.cataloge__page-number--active button {
  color: #1d1613; }

@media (max-width: 1023px) {
  .cataloge__wrapper {
    flex-wrap: wrap; }
  .cataloge__container {
    margin: 0 auto; }
  .cataloge__list {
    margin-left: 0;
    margin: 0 auto; }
  .cataloge__item img {
    height: 208px; }
  .cataloge__navitagion {
    margin-left: 0;
    margin-top: 32px; } }

@media (max-width: 767px) {
  .cataloge__wrapper {
    padding: 0 15px; }
  .cataloge__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 23px; }
  .cataloge__item {
    width: 130px; }
  .cataloge__item img {
    width: 100%;
    height: 136px; }
  .cataloge__item-description p {
    width: auto;
    margin-top: 16px; }
  .cataloge__navitagion {
    padding-top: 0;
    margin-top: 36px; }
    .cataloge__navitagion::before {
      display: none; }
  .cataloge__navitagion > button {
    display: none; }
  .cataloge__page-numbers {
    padding-left: 10px;
    padding-right: 0; }
  .cataloge__page-numbers button {
    margin-right: 10px; } }

.filter form {
  width: 250px; }

.filter__block {
  display: flex;
  flex-direction: column;
  border: 1px solid #a87b62;
  border-bottom: none;
  padding: 0 24px;
  margin: 0;
  min-height: 67px;
  position: relative; }

.filter__block p {
  margin-top: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1d1613;
  cursor: pointer; }
  .filter__block p:hover {
    color: rgba(29, 22, 19, 0.7); }

.filter__block p:hover svg {
  stroke: #7a5c4b; }

.filter__block:focus p {
  color: rgba(29, 22, 19, 0.8); }

.filter__block:focus svg {
  stroke: #7a5c4b; }

.filter__block:last-child {
  border-bottom: 1px solid #a87b62; }

.filter__block label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-left: 35px; }

.filter__block svg {
  position: absolute;
  fill: none;
  stroke: #a87b62;
  top: 28px;
  right: 23px;
  cursor: pointer; }

.filter__block--opened svg {
  transform: rotate(180deg); }

.filter__item {
  display: none;
  margin-bottom: 4px; }

.filter__block--opened .filter__item {
  display: block; }

.filter__item:last-child {
  margin-bottom: 25px; }

.filter__item label {
  position: relative;
  cursor: pointer; }

.filter__item input + label::before {
  content: "";
  background-color: transparent;
  border: 1px solid #a87b62;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 10px; }

.filter__item input:checked + label::before {
  background-color: #a87b62; }

.filter__item input:focus + label {
  color: rgba(29, 22, 19, 0.5);
  outline: 1px solid black; }

.filter__item input:focus + label::before {
  border: 1px solid #7a5c4b; }

.filter__item input:focus:checked + label::before {
  background-color: #7a5c4b; }

.filter__item label:hover {
  color: rgba(29, 22, 19, 0.6); }
  .filter__item label:hover::before {
    border: 1px solid #7a5c4b; }

.filter__item input:checked + label:hover::before {
  background-color: #7a5c4b; }

.filter__item input:focus:checked + label::before {
  background-color: #7a5c4b; }

.filter__button button {
  min-height: 68px;
  width: 100%;
  border: 1px solid #a87b62;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer; }

.filter__button--apply button {
  margin-top: 35px;
  margin-bottom: 12px;
  color: #ffffff;
  background-color: #a87b62; }
  .filter__button--apply button:hover, .filter__button--apply button:focus {
    background-color: #7a5c4b; }

.filter__button--clear button {
  margin-top: 13px;
  margin-bottom: 25px;
  color: #1d1613;
  background-color: #ffffff; }
  .filter__button--clear button:hover, .filter__button--clear button:focus {
    background-color: rgba(29, 22, 19, 0.2); }

.filter__button--close {
  display: none; }

.filter__open-button {
  display: none; }

@media (max-width: 1023px) {
  .filter {
    width: 100%; }
  .filter form {
    display: none; }
  .filter__open-button {
    display: block; }
  .filter__open-button {
    display: block;
    width: 100%;
    min-height: 68px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background-color: #a87b62;
    border: none;
    margin-bottom: 50px; }
  .filter--opened form {
    display: block;
    box-shadow: 0px 5px 32px rgba(219, 213, 208, 0.24);
    width: 423px;
    margin-top: 27px;
    position: relative; }
  .filter--opened .filter__form-container {
    width: 100%;
    min-height: 957px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: #ffffff; }
  .filter__block {
    border: none;
    border-bottom: 1px solid #a87b62;
    padding: 0 22px;
    padding-bottom: 13px; }
  .filter__block p {
    font-size: 18px;
    line-height: 23px;
    margin-top: 34px;
    margin-bottom: 21px; }
  .filter__block svg {
    width: 25px;
    height: 25px;
    top: 34px;
    right: 39px; }
  .filter__item {
    margin-bottom: 12px; }
  .filter__item:last-child {
    margin-bottom: 22px; }
  .filter__item label {
    font-size: 16px;
    line-height: 21px;
    padding-left: 39px; }
  .filter__button {
    margin-left: 21px;
    margin-right: 40px; }
  .filter__button--apply button {
    margin-top: 40px; }
  .filter__button--clear button {
    margin-bottom: 40px; }
  .filter__button--close {
    display: block;
    position: absolute;
    top: -16px;
    right: -56px;
    width: 32px;
    height: 32px; }
  .filter__button--close button {
    width: 32px;
    height: 32px;
    min-height: 0;
    padding: 0;
    border: none; }
  .filter__button--close svg {
    fill: #1d1613; }
  .filter__button--close button:hover svg,
  .filter__button--close button:focus svg {
    fill: rgba(29, 22, 19, 0.5); }
  .filter__item input + label::before {
    width: 18px;
    height: 18px;
    top: 2px;
    left: 9px; }
  .filter--no-js form {
    position: static;
    display: block; }
  .filter--no-js .filter__form-container {
    position: static; }
  .filter--no-js .filter__open-button {
    display: none; } }

@media (max-width: 767px) {
  .filter__open-button {
    margin-bottom: 40px; }
  .filter form {
    margin: 0 auto;
    width: 270px;
    margin-top: 76px; }
  .filter__block {
    padding-bottom: 3px; }
  .filter__block p {
    margin-top: 26px;
    margin-bottom: 19px; }
  .filter__block svg {
    width: 24px;
    height: 17px;
    top: 28px;
    right: 18px; }
  .filter__button {
    margin: 0 20px; }
  .filter__button--apply button {
    margin-top: 30px;
    margin-bottom: 10px; }
  .filter__button--clear button {
    margin-top: 10px;
    margin-bottom: 30px; }
  .filter__button--close {
    margin: 0;
    right: -10px; } }

.price {
  position: relative; }

.price__inputs {
  margin-top: 21px;
  margin-bottom: 19px;
  position: relative; }

.price__input {
  display: flex;
  position: absolute; }
  .price__input:first-child {
    margin-right: 20px; }

.price__input label {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #1d1613; }
  .price__input label:hover {
    color: rgba(29, 22, 19, 0.7); }

.price__input input {
  border: none;
  width: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #1d1613;
  cursor: pointer; }
  .price__input input::-webkit-outer-spin-button, .price__input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .price__input input:hover {
    color: rgba(29, 22, 19, 0.7); }

.price__input--min {
  left: 36px; }

.price__input--max {
  left: 140px; }

.price__container {
  display: none;
  min-height: 58px; }

.filter__block--opened .price__container {
  display: block; }

.price__all-price-range {
  height: 1px;
  width: 200px;
  background-color: #F0EAE4;
  position: absolute;
  top: 70px; }

.price__actually-price-range {
  height: 1px;
  width: 90px;
  background-color: #a87b62;
  position: absolute;
  top: 70px;
  left: 84px; }

.price__toggler {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #a87b62;
  position: absolute;
  top: 63px;
  cursor: pointer; }

.price__toggler--min {
  left: 69px; }

.price__toggler--max {
  left: 174px; }

.price__toggler:hover,
.price__toggler:focus {
  background-color: #7a5c4b; }

@media (max-width: 1023px) {
  .price {
    padding-bottom: 25px; }
  .price__all-price-range {
    width: 304px;
    left: 31px;
    top: 90px; }
  .price__actually-price-range {
    width: 158px;
    left: 94px;
    top: 90px; }
  .price__toggler {
    top: 82px;
    width: 18px;
    height: 18px; }
  .price__toggler--min {
    left: 76px; }
  .price__toggler--max {
    left: 252px; }
  .price__input input {
    font-size: 16px;
    line-height: 21px;
    padding-left: 0; }
  .price__input label {
    font-size: 16px;
    line-height: 21px; }
  .price__input {
    top: 6px; }
  .price__input--min {
    left: 46px; }
  .price__input--max {
    left: 219px; } }

@media (max-width: 767px) {
  .price {
    padding-bottom: 15px; }
  .price__actually-price-range {
    top: 80px;
    width: 120px;
    left: 68px; }
  .price__all-price-range {
    top: 80px;
    width: 250px;
    left: 10px; }
  .price__toggler {
    top: 72px; }
  .price__toggler--min {
    left: 50px; }
  .price__toggler--max {
    left: 188px; }
  .price__input--min {
    left: 20px; }
  .price__input--max {
    left: 154px; } }

.product {
  display: flex;
  margin: 0 auto;
  padding: 0 45px;
  max-width: 1260px;
  margin-top: 80px;
  margin-bottom: 120px; }

.product__puctures-list {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-rows: 125px 125px 125px;
  row-gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: auto; }

.product__pictures-item--primary {
  grid-column: 2/3;
  grid-row: 1/4; }

.product__pictures-item img {
  display: block;
  height: 100%; }

.product__puctures-list p {
  display: none; }

.product__info {
  flex-grow: 2;
  margin: 0 20px; }

.product__info-wrapper {
  max-width: 370px;
  margin: 0 auto; }

.product h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  line-height: 44px;
  margin-top: -10px;
  margin-bottom: 11px;
  color: #1d1613; }

.product span {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 35px;
  display: block; }

.product__info-sections {
  margin-top: 35px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap; }

.product__info-sections a {
  color: #9b9997;
  margin-right: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  width: 100%; }
  .product__info-sections a:hover, .product__info-sections a:focus {
    color: rgba(29, 22, 19, 0.7); }

.product__info-section--active a {
  color: #1d1613; }

.product__additical-info dl {
  font-size: 14px;
  line-height: 18px;
  margin-top: 30px; }

.product__additical-info-item {
  position: relative;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: auto auto; }
  .product__additical-info-item::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #f6f5f4;
    position: absolute;
    bottom: 0; }

.product__additical-info dt {
  float: left;
  margin-right: auto;
  width: 50%;
  font-weight: 500;
  padding-bottom: 10px;
  display: block; }

.product__additical-info dd {
  width: 100%;
  text-align: right;
  margin-left: auto;
  position: relative;
  padding-bottom: 10px;
  display: block; }

.product__info button {
  width: 100%;
  height: 68px;
  padding: 0;
  border: none;
  background-color: #a87b62;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  margin-top: 36px;
  margin-bottom: 3px; }
  .product__info button:hover, .product__info button:focus {
    background-color: #7a5c4b; }

.product__purchase-terms {
  display: flex;
  justify-content: space-between;
  margin-left: 5px; }

.product__purchase-terms p {
  color: #9b9997;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3px;
  position: relative; }

.product__purchase-terms p:not(:nth-child(3n+1))::before {
  content: "";
  height: 20px;
  width: 1px;
  position: absolute;
  top: 0;
  left: -14px;
  background-color: #F6F5F4; }

@media (max-width: 1023px) {
  .product {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 70px;
    max-width: 770px; }
  .product__puctures-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 286px 129px;
    width: 319px;
    margin-right: 20px;
    -moz-column-gap: 14px;
         column-gap: 14px;
    row-gap: 14px; }
  .product__pictures-item--primary {
    grid-column: 1/4;
    grid-row: 1/2; }
  .product__info {
    max-width: 319px;
    margin: 0;
    margin-left: 20px; }
  .product__info-wrapper {
    margin: 0; }
  .product__purchase-terms {
    margin-left: 0; }
  .product__purchase-terms p {
    font-size: 12px;
    line-height: 16px; } }

@media (max-width: 767px) {
  .product {
    flex-direction: column;
    overflow: hidden;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 53px; }
  .product__puctures-list {
    display: flex;
    max-width: 290px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative; }
  .product__puctures-list p {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  .product__pictures-item {
    width: 290px;
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
    flex-shrink: 0; }
  .product__pictures-item img {
    width: 100%; }
  .product__info {
    margin-left: 0; }
  .product__info-sections {
    margin-top: 25px; }
  .product span {
    margin-bottom: 25px; }
  .product__info button {
    margin-top: 26px; }
  .product__purchase-terms {
    margin: 0 5px; }
  .product__purchase-terms p {
    margin-top: 9px;
    max-width: 60px; }
  .product__purchase-terms p:not(:nth-child(3n+1))::before {
    left: -28px; } }

.another-products {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 123px;
  max-width: 1260px;
  padding: 0 45px;
  position: relative; }

.another-products h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 19px;
  color: #1d1613; }

.another-products a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  border-bottom: 1px solid #a87b62;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  color: #1d1613;
  cursor: pointer;
  padding-bottom: 5px; }
  .another-products a:focus, .another-products a:hover {
    color: rgba(29, 22, 19, 0.7);
    border-bottom: 1px solid #7a5c4b;
    outline-offset: 3px; }

.another-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 59px;
  overflow: hidden; }

.another-products__item {
  width: calc(25% - 22.5px);
  flex-shrink: 0; }

.another-products__item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 284px;
  width: 100%;
  display: block; }

.another-products__item + .another-products__item {
  margin-left: 30px; }

.another-products__description {
  text-align: center; }

.another-products__description p {
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #1d1613; }

.another-products__description span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1613; }

.another-products__slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  top: 43px;
  cursor: pointer; }

.another-products__slider-button svg {
  stroke: #a87b62;
  width: 29px;
  height: 13px; }

.another-products__slider-button:hover svg,
.another-products__slider-button:focus svg {
  stroke: #7a5c4b; }

.another-products__slider-button--previous {
  transform: rotate(180deg);
  position: absolute;
  left: 44px; }

.another-products__slider-button--next {
  position: absolute;
  right: 44px; }

.another-products__slider-pages {
  padding: 0;
  margin: 0 auto;
  margin-top: 46px;
  list-style: none;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

.another-products__slider-pages--mobile {
  display: none; }

.another-products__slider-item:nth-child(n+4) {
  display: none; }

.another-products__slider-item button {
  background-color: transparent;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: #9b9997;
  cursor: pointer; }
  .another-products__slider-item button:focus, .another-products__slider-item button:hover {
    color: rgba(29, 22, 19, 0.8); }

.another-products__slider-item--active button {
  color: #1d1613; }

@media (max-width: 1023px) {
  .another-products {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 72px; }
  .another-products h2 {
    margin-bottom: 19px; }
  .another-products a {
    padding-bottom: 4px; }
  .another-products__list {
    margin: 0 auto;
    margin-top: 50px;
    overflow-x: scroll; }
    .another-products__list::-webkit-scrollbar {
      color: transparent; }
  .another-products__item {
    width: calc(50% - 15px); }
  .another-products__item img {
    height: 340px; }
  .another-products__description p {
    padding-bottom: 0;
    margin-bottom: 1px; }
  .another-products__slider-pages {
    margin-top: 19px; }
  .another-products__slider-item:nth-child(n+4) {
    display: block; }
  .another-products__slider-button svg {
    width: 37px;
    height: 17px; }
  .another-products__slider-button {
    top: 41px; } }

@media (max-width: 767px) {
  .another-products {
    padding: 0 15px;
    margin-bottom: 61px; }
  .another-products__list {
    margin-top: 40px;
    max-width: 350px; }
  .another-products__slider-button {
    display: none; }
  .another-products__item img {
    height: 136px; }
  .another-products__description p {
    width: auto;
    margin-top: 16px; }
  .another-products__slider-pages {
    display: none; }
  .another-products__slider-pages--mobile {
    display: block;
    margin-top: -7px; }
  .another-products__slider-pages--mobile p {
    white-space: pre;
    border: none; } }

.modal-card {
  position: absolute;
  top: 372px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  min-height: 439px;
  background-color: #ffffff;
  z-index: 25;
  padding: 0 35px 55px;
  box-shadow: 0px 4px 32px rgba(121, 121, 121, 0.24);
  display: none; }

.modal-card--opened {
  display: block; }

.modal-card h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 46px; }

.modal-card__added-item {
  display: flex;
  margin-bottom: 39px; }

.modal-card__added-item img {
  width: 84px;
  height: 79px;
  flex-shrink: 0;
  display: block;
  margin-right: 20px; }

.modal-card__added-item p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-top: -4px;
  margin-bottom: 0; }

.modal-card__added-item span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 10px; }

.modal-card__counter {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.modal-card__counter-button {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: transparent;
  border: none; }

.modal-card__counter-button--plus {
  top: -4px;
  right: -2px; }
  .modal-card__counter-button--plus::after, .modal-card__counter-button--plus::before {
    content: "";
    width: 14px;
    height: 2px;
    background-color: #9b9997;
    position: absolute;
    top: 6px;
    left: 0px; }
  .modal-card__counter-button--plus::after {
    transform: rotate(90deg); }

.modal-card__counter-button--minus {
  top: -9px;
  right: -2px; }
  .modal-card__counter-button--minus::before {
    content: "";
    width: 14px;
    height: 2px;
    background-color: #9b9997;
    position: absolute;
    top: 6px;
    left: 0px; }

.modal-card__counter p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  position: relative;
  left: 6px;
  bottom: 2px; }

.modal-card__additical-info {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  position: relative; }
  .modal-card__additical-info::after {
    content: "";
    width: 500px;
    height: 1px;
    background-color: #F6F5F4;
    position: absolute;
    left: -35px;
    top: 0; }

.modal-card__additical-info p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0; }

.modal-card__additical-info p:last-child {
  font-weight: 500; }

.modal-card__action {
  display: flex;
  justify-content: space-between;
  margin-top: 22px; }

.modal-card__action a {
  width: 200px;
  min-height: 68px;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a87b62;
  color: #1d1613; }

.modal-card__action a:last-child {
  color: #ffffff;
  background-color: #a87b62; }

.modal-card__close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent; }
  .modal-card__close::after, .modal-card__close::before {
    content: "";
    width: 18px;
    height: 2px;
    background-color: #1d1613;
    position: absolute;
    top: 6px;
    left: -1px; }
  .modal-card__close::after {
    transform: rotate(45deg); }
  .modal-card__close::before {
    transform: rotate(-45deg); }

@media (max-width: 1023px) {
  .modal-card {
    top: 258px;
    width: 502px;
    padding: 0 30px 55px; }
  .modal-card__added-item img {
    width: 88px; }
  .modal-card__counter {
    position: relative;
    top: 4px;
    right: 2px; }
  .modal-card__action a {
    width: 206px; }
  .modal-card__additical-info::after {
    width: 502px;
    left: -30px; } }

@media (max-width: 767px) {
  .modal-card {
    width: 290px;
    padding: 0 15px 25px;
    top: 117px; }
  .modal-card h4 {
    margin: 0 30px;
    margin-top: 38px;
    margin-bottom: 33px;
    font-size: 24px;
    line-height: 29px; }
  .modal-card__added-item {
    margin-bottom: 29px; }
  .modal-card__added-item img {
    width: 70px;
    height: 63px;
    margin-right: 15px; }
  .modal-card__added-item p {
    font-size: 16px;
    line-height: 21px; }
  .modal-card__added-item span {
    margin-top: 5px; }
  .modal-card__counter p {
    bottom: -4px; }
  .modal-card__counter-button--minus {
    top: 1px; }
  .modal-card__additical-info {
    flex-direction: column;
    padding-top: 22px; }
    .modal-card__additical-info::after {
      width: 290px;
      left: -15px; }
  .modal-card__additical-info p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 12px; }
  .modal-card__action {
    flex-wrap: wrap;
    margin-top: 19px; }
  .modal-card__action a {
    width: 100%;
    margin-bottom: 20px; }
  .modal-card__close {
    top: 15px;
    right: 15px; } }

.login-popup {
  position: fixed;
  margin: auto;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  min-height: 586px;
  z-index: 30;
  background-color: #f0eae4;
  background-image: url("../../img/sweet-ice-cream-photography1x.jpg");
  background-repeat: no-repeat;
  background-size: 442px 138px;
  background-position: top center;
  padding: 138px 45px 0; }

.login-popup h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  color: #1d1613;
  margin-top: 50px;
  margin-bottom: 29px; }

.login-popup input {
  width: 100%;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #1d1613;
  border: none;
  border-bottom: 1px solid #1d1613;
  padding-bottom: 8px;
  padding-left: 0;
  margin-bottom: 31px; }
  .login-popup input::-moz-placeholder {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #1d1613; }
  .login-popup input::placeholder {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #1d1613; }

.login-popup input:last-of-type {
  margin-bottom: 5px; }

.login-popup form a {
  display: block;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  color: #9b9997;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500; }

.login-popup form button {
  width: 100%;
  min-height: 68px;
  background-color: #a87b62;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 21px;
  border: none;
  margin-top: 45px; }

.login-popup p {
  margin: 0;
  color: #9b9997;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

.login-popup a {
  color: #1d1613; }

.login-popup__close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent; }
  .login-popup__close::after, .login-popup__close::before {
    content: "";
    width: 18px;
    height: 2px;
    background-color: #1d1613;
    position: absolute;
    top: 6px;
    left: -1px; }
  .login-popup__close::after {
    transform: rotate(45deg); }
  .login-popup__close::before {
    transform: rotate(-45deg); }

@media (max-width: 1023px) {
  .login-popup {
    width: 442px;
    padding: 138px 51px 0; }
  .login-popup__close {
    width: 20px;
    height: 20px;
    top: 23px;
    right: 21px; }
    .login-popup__close::before, .login-popup__close::after {
      width: 24px; } }

@media (max-width: 767px) {
  .login-popup {
    width: 270px;
    padding: 84px 15px 0;
    background-size: 270px 84px;
    min-height: 470px; }
  .login-popup h4 {
    font-size: 24px;
    line-height: 31px;
    margin-top: 37px;
    margin-bottom: 23px; }
  .login-popup input {
    margin-bottom: 26px; }
  .login-popup form button {
    margin-top: 35px; }
  .login-popup__close {
    width: 15px;
    height: 15px;
    top: 15px;
    right: 15px; }
    .login-popup__close::before, .login-popup__close::after {
      width: 18px; } }

/*# sourceMappingURL=style.css.map */
